@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 32, ../sass/style.scss */
.league, h1, h2, h3, h4, h5, h6 {
  font-family: 'League Gothic', Impact, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-BoldItalic-webfont.eot");
  src: url("../fonts/Lato-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic-webfont.woff") format("woff"), url("../fonts/Lato-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Lato-BoldItalic-webfont.svg#LatoBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold-webfont.eot");
  src: url("../fonts/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold-webfont.woff") format("woff"), url("../fonts/Lato-Bold-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold-webfont.svg#LatoBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Italic-webfont.eot");
  src: url("../fonts/Lato-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic-webfont.woff") format("woff"), url("../fonts/Lato-Italic-webfont.ttf") format("truetype"), url("../fonts/Lato-Italic-webfont.svg#LatoItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 80, ../sass/style.scss */
.lato {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

/* line 85, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 100, ../sass/style.scss */
.preload *,
#wpadminbar,
#wpadminbar *,
textarea,
.fit {
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* line 106, ../sass/style.scss */
a,
a:visited {
  color: #999999;
  text-decoration: none;
}

/* line 112, ../sass/style.scss */
a:hover,
a:active {
  color: #565656;
}

/* line 116, ../sass/style.scss */
h2 {
  font-size: 40px;
}

/* line 116, ../sass/style.scss */
h3 {
  font-size: 34px;
}

/* line 116, ../sass/style.scss */
h4 {
  font-size: 28px;
}

/* line 116, ../sass/style.scss */
h5 {
  font-size: 22px;
}

/* line 116, ../sass/style.scss */
h6 {
  font-size: 16px;
}

/* line 121, ../sass/style.scss */
::selection {
  background: #565656;
  color: #fff;
  text-shadow: none;
}

/* line 122, ../sass/style.scss */
::-moz-selection {
  background: #565656;
  color: #fff;
  text-shadow: none;
}

/* line 124, ../sass/style.scss */
body {
  color: #565656;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 138, ../sass/style.scss */
pre,
code,
kbd,
samp {
  background: #333;
  color: #ccc;
  overflow-x: auto;
  padding: 20px;
}

/* line 145, ../sass/style.scss */
blockquote {
  border-left: 10px solid #d3e2e2;
  padding-left: 40px;
}

/* line 151, ../sass/style.scss */
.entry-content a:hover,
.entry-content a:active {
  background: #d3e2e2;
}

/* line 155, ../sass/style.scss */
.entry-content a:hover img {
  background: #fff;
}

/* line 160, ../sass/style.scss */
.grey,
.page-template-about-php h2:hover .grey {
  color: #d3e2e2;
}

/* line 165, ../sass/style.scss */
#page {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}

/* line 170, ../sass/style.scss */
.primary {
  float: left;
  margin-right: 3%;
  width: 60%;
}

/* line 175, ../sass/style.scss */
.secondary {
  float: left;
  margin-right: 3%;
  width: 13%;
}

/* line 180, ../sass/style.scss */
.tertiary {
  float: left;
  width: 21%;
}

/* line 186, ../sass/style.scss */
header {
  border-bottom: 10px solid #d1d1d1;
}
/* line 189, ../sass/style.scss */
header h1, header h2, header h3 {
  white-space: nowrap;
}
/* line 194, ../sass/style.scss */
header a,
header a:visited {
  color: #565656;
}
/* line 197, ../sass/style.scss */
header a .grey,
header a:visited .grey {
  color: #d3e2e2;
}
/* line 203, ../sass/style.scss */
header a:active,
header a:hover {
  color: #999999;
}
/* line 206, ../sass/style.scss */
header a:active .grey,
header a:hover .grey {
  color: #eee;
}

/* line 212, ../sass/style.scss */
#blog-title {
  float: left;
  width: 60%;
}
/* line 216, ../sass/style.scss */
#blog-title h1, #blog-title h3 {
  margin: 20px 0 0 0;
}

/* line 221, ../sass/style.scss */
#search {
  float: left;
  margin-top: 32px;
  width: 30%;
}
/* line 226, ../sass/style.scss */
#search input[type="text"] {
  background: url("../images/search.png") no-repeat scroll 2px 2px white;
  border: 1px solid #999999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #999999;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0 4px 24px;
  width: 85%;
}
/* line 238, ../sass/style.scss */
#search .searchbutton {
  display: none;
}
/* line 242, ../sass/style.scss */
#search h2 {
  margin: 18px 0 0 0;
}
/* line 246, ../sass/style.scss */
.page-template-templatesabout-php #search h2 {
  margin: 12px 0 0 0;
}

/* line 251, ../sass/style.scss */
#photos {
  float: left;
  margin-top: 32px;
  width: 10%;
}
/* line 256, ../sass/style.scss */
#photos img {
  float: right;
  width: 81%;
}
/* line 261, ../sass/style.scss */
#photos img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 267, ../sass/style.scss */
#main {
  border-bottom: 10px solid #d1d1d1;
  margin: 40px 0 10px;
}
/* line 271, ../sass/style.scss */
#main article {
  margin-bottom: 20px;
}
/* line 274, ../sass/style.scss */
#main article .entry-title {
  font-size: 40px;
}

/* line 286, ../sass/style.scss */
.home .full,
.category .full {
  position: relative;
}
/* line 289, ../sass/style.scss */
.home .full img,
.category .full img {
  margin-bottom: 20px;
  width: 100%;
}
/* line 294, ../sass/style.scss */
.home .full .title-date,
.category .full .title-date {
  background: #eee;
  background: rgba(255, 255, 255, 0.65);
  display: block;
  left: 0;
  margin: 20px 20px 0 20px;
  padding: 10px 10px 5px;
  position: absolute;
  top: 0;
}
/* line 304, ../sass/style.scss */
.home .full .title-date .entry-title,
.category .full .title-date .entry-title {
  margin: 0;
}
/* line 309, ../sass/style.scss */
.home .full .title-date a,
.home .full .title-date a:visited,
.category .full .title-date a,
.category .full .title-date a:visited {
  color: #333;
}
/* line 314, ../sass/style.scss */
.home .full .title-date a:active,
.home .full .title-date a:hover,
.category .full .title-date a:active,
.category .full .title-date a:hover {
  color: #666;
}
/* line 319, ../sass/style.scss */
.home .full .entry-content,
.category .full .entry-content {
  display: none;
}
/* line 324, ../sass/style.scss */
.home .square img,
.category .square img {
  float: left;
  margin-bottom: 20px;
  margin-right: 4.4%;
  width: 47.8%;
}
/* line 334, ../sass/style.scss */
.home .entry-title a,
.home .entry-title a:visited,
.category .entry-title a,
.category .entry-title a:visited {
  color: #565656;
}
/* line 339, ../sass/style.scss */
.home .entry-title a:active,
.home .entry-title a:hover,
.category .entry-title a:active,
.category .entry-title a:hover {
  color: #999999;
}
/* line 344, ../sass/style.scss */
.home .entry-content,
.category .entry-content {
  margin-bottom: 20px;
}

/* line 349, ../sass/style.scss */
.entry-title {
  margin: 0;
}

/* line 353, ../sass/style.scss */
.entry-date {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 358, ../sass/style.scss */
.read-more {
  background: #d3e2e2;
  clear: both;
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 5%;
  text-align: right;
}
/* line 367, ../sass/style.scss */
.read-more a,
.read-more a:visited {
  color: #999999;
}
/* line 372, ../sass/style.scss */
.read-more a:hover,
.read-more a:active {
  color: #565656;
}

/* line 377, ../sass/style.scss */
.recent-list {
  float: left;
  margin: 0 0 20px;
  padding: 0;
  width: 50%;
}
/* line 383, ../sass/style.scss */
.recent-list abbr {
  border: 0 none;
  background: #d1d1d1;
  color: #fff;
  float: left;
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 3px 5px;
  text-align: center;
  width: 38px;
}
/* line 395, ../sass/style.scss */
.recent-list li {
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 402, ../sass/style.scss */
.recent-list a,
.recent-list a:visited {
  float: left;
  margin-left: -38px;
  padding-left: 44px;
  position: relative;
  top: 5px;
  width: 100%;
}

/* line 416, ../sass/style.scss */
.single .title-date {
  float: left;
  margin: 0 5% 20px 0;
  max-width: 60%;
}
/* line 422, ../sass/style.scss */
.single .post-categories {
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
/* line 426, ../sass/style.scss */
.single .post-categories li {
  margin-bottom: 1em;
  float: right;
  font-size: 24px;
  list-style-type: none;
}
/* line 434, ../sass/style.scss */
.single .post-categories a,
.single .post-categories a:visited {
  background: #d3e2e2;
  margin-left: 10px;
  padding: 5px 7px;
  position: relative;
  top: 8px;
}
/* line 443, ../sass/style.scss */
.single .post-categories a:hover,
.single .post-categories a:active {
  background: #fff;
}
/* line 448, ../sass/style.scss */
.single .entry-content {
  clear: both;
}
/* line 452, ../sass/style.scss */
.single .navigation {
  width: 100%;
}
/* line 456, ../sass/style.scss */
.single .navigation a,
.single .navigation a:visited {
  background: none repeat scroll 0 0 #D3E2E2;
  color: #999999;
  float: left;
  margin: 0 4% 20px 0;
  padding: 10px 15px;
  width: 48%;
}
/* line 466, ../sass/style.scss */
.single .navigation a:hover,
.single .navigation a:active {
  color: #565656;
}
/* line 470, ../sass/style.scss */
.single .navigation a:last-child {
  margin-right: 0;
  text-align: right;
}
/* line 475, ../sass/style.scss */
.single .navigation a:first-child {
  text-align: left;
}

/* line 481, ../sass/style.scss */
.size-full {
  height: auto;
  width: 100%;
}

/* line 486, ../sass/style.scss */
.wp-caption {
  background: #d3e2e2;
  margin-bottom: 20px;
  width: 100% !important;
}
/* line 491, ../sass/style.scss */
.wp-caption img {
  background: #fff;
  width: 100%;
}
/* line 496, ../sass/style.scss */
.wp-caption p {
  background: #d3e2e2;
  margin: 0;
  padding: 20px;
}
/* line 503, ../sass/style.scss */
.wp-caption.alignleft img {
  max-width: 52%;
  float: left;
  padding-right: 4%;
}
/* line 508, ../sass/style.scss */
.wp-caption.alignleft p {
  float: right;
  width: 48%;
}
/* line 515, ../sass/style.scss */
.wp-caption.aligncenter img {
  margin-bottom: 1.6em;
}
/* line 518, ../sass/style.scss */
.wp-caption.aligncenter p {
  width: 100%;
}
/* line 524, ../sass/style.scss */
.wp-caption.alignright img {
  max-width: 52%;
  float: right;
  padding-left: 4%;
}
/* line 529, ../sass/style.scss */
.wp-caption.alignright p {
  float: left;
  width: 48%;
}

/* line 538, ../sass/style.scss */
.sidebar {
  list-style-type: none;
  margin-bottom: 20px;
}
/* line 542, ../sass/style.scss */
.sidebar h3 {
  color: #d3e2e2;
  margin: 0 0 20px 0;
}
/* line 547, ../sass/style.scss */
.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
}
/* line 551, ../sass/style.scss */
.sidebar ul li {
  list-style-type: none;
}
/* line 557, ../sass/style.scss */
.sidebar.categories li {
  margin-bottom: 10px;
  text-align: center;
}
/* line 563, ../sass/style.scss */
.sidebar.categories a,
.sidebar.categories a:visited {
  background: #d1d1d1;
  color: #565656;
  display: block;
  padding: 4px 0 0 0;
  width: 100%;
}
/* line 572, ../sass/style.scss */
.sidebar.categories a:hover,
.sidebar.categories a:active {
  color: #999999;
}
/* line 578, ../sass/style.scss */
.sidebar.projects h4 {
  display: block;
  background: #565656;
  margin: 0;
  padding: 5px 10px;
}
/* line 588, ../sass/style.scss */
.sidebar.projects a,
.sidebar.projects a:visited,
.sidebar.projects a:active,
.sidebar.projects a:hover {
  color: #fff;
}
/* line 592, ../sass/style.scss */
.sidebar.projects img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
}
/* line 598, ../sass/style.scss */
.sidebar.projects a:hover img,
.sidebar.projects a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 602, ../sass/style.scss */
.sidebar.projects p {
  font-size: 13px;
}
/* line 608, ../sass/style.scss */
.sidebar.recent li {
  margin-bottom: 5px;
}
/* line 613, ../sass/style.scss */
.sidebar.recent a,
.sidebar.recent a:visited {
  display: block;
  line-height: 1.2;
}
/* line 619, ../sass/style.scss */
.sidebar.recent a:hover,
.sidebar.recent a:active {
  background: #d3e2e2;
}

/* line 626, ../sass/style.scss */
#categories-sidebar-mobile ul li {
  background: #d1d1d1;
  text-align: center;
  max-width: 50%;
  margin-bottom: 0.8em;
}
/* line 634, ../sass/style.scss */
#categories-sidebar-mobile a:link,
#categories-sidebar-mobile a:visited {
  color: #565656;
  text-decoration: none;
  font-size: 1.7em;
}

/* line 644, ../sass/style.scss */
.result {
  background: #d3e2e2;
  color: #999999;
  padding: 5px;
}

/* line 650, ../sass/style.scss */
.wp-pagenavi {
  font-size: 30px;
}
/* line 653, ../sass/style.scss */
.wp-pagenavi .current {
  background: #d3e2e2;
  padding: 5px;
  margin-right: 8px;
}
/* line 662, ../sass/style.scss */
.wp-pagenavi .page,
.wp-pagenavi .first,
.wp-pagenavi .pages,
.wp-pagenavi .extend {
  margin-right: 8px;
}

/* line 667, ../sass/style.scss */
#pagination {
  margin-bottom: 20px;
}

/* --------- 404 --------- */
/* line 675, ../sass/style.scss */
.error404 .entry-content .searchform {
  display: inline;
}
/* line 679, ../sass/style.scss */
.error404 .entry-content input[type="text"] {
  background: url("../images/search.png") no-repeat scroll 2px 2px white;
  border: 1px solid #999999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #999999;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0 4px 24px;
  width: 50%;
}
/* line 691, ../sass/style.scss */
.error404 .entry-content .searchbutton {
  display: none;
}

/* ---------- Instagram page ---------- */
/* line 699, ../sass/style.scss */
.page-template-templatespg-instagram-php .entry-content {
  clear: both;
  margin-top: 20px;
}
/* line 704, ../sass/style.scss */
.page-template-templatespg-instagram-php .instagram {
  clear: both;
}

/* line 709, ../sass/style.scss */
.box {
  background: #d3e2e2;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}
/* line 715, ../sass/style.scss */
.box:hover {
  background: #eee;
}
/* line 719, ../sass/style.scss */
.box:last-child {
  margin-right: 0;
}
/* line 723, ../sass/style.scss */
.box.small {
  height: 15px;
  width: 15px;
}
/* line 728, ../sass/style.scss */
.box.medium {
  height: 20px;
  width: 20px;
}
/* line 733, ../sass/style.scss */
.box.large {
  height: 35px;
  width: 35px;
}

/* line 739, ../sass/style.scss */
#instagram {
  background: #d3e2e2;
  border: 0 none;
  color: #999999;
  clear: both;
  cursor: pointer;
  padding: 6px;
  font-size: 30px;
}
/* line 748, ../sass/style.scss */
#instagram:hover {
  color: #565656;
}

/* line 754, ../sass/style.scss */
.small-activated .instagram-placeholder {
  float: left;
  margin: 0 2% 2% 0;
  width: 32% !important;
}
/* line 759, ../sass/style.scss */
.small-activated .instagram-placeholder img {
  max-width: 100% !important;
  padding: 0;
}
/* line 764, ../sass/style.scss */
.small-activated .instagram-placeholder:nth-child(3n+3) {
  margin-right: 0;
}
/* line 768, ../sass/style.scss */
.small-activated p.wp-caption-text {
  display: none !important;
}

/* line 774, ../sass/style.scss */
.large-activated .instagram-placeholder {
  margin-bottom: 20px;
  width: 100%;
}
/* line 779, ../sass/style.scss */
.large-activated img {
  border-bottom: 8px solid #fff;
  padding-right: 0 !important;
  max-width: 100% !important;
  width: 100%;
}
/* line 786, ../sass/style.scss */
.large-activated p.wp-caption-text {
  display: block;
  font-size: 18px;
  margin: 0;
  padding: 10px;
  text-align: left;
  width: 100%;
}

/* ---------- Footer ------------- */
/* line 798, ../sass/style.scss */
footer {
  margin-bottom: 30px;
}
/* line 801, ../sass/style.scss */
footer .credits {
  float: left;
  width: 50%;
}
/* line 806, ../sass/style.scss */
footer .credits a:active,
footer .credits a:hover {
  background: #d3e2e2;
}
/* line 811, ../sass/style.scss */
footer .copyright {
  float: left;
  width: 50%;
}
/* line 815, ../sass/style.scss */
footer .copyright .social {
  float: right;
  margin: 16px 12px 0 0;
}
/* line 819, ../sass/style.scss */
footer .copyright .social a {
  float: left;
}
/* line 822, ../sass/style.scss */
footer .copyright .social a img {
  background: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 829, ../sass/style.scss */
footer .copyright .social a:active img,
footer .copyright .social a:hover img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 833, ../sass/style.scss */
footer .copyright .social img {
  float: left;
  margin-right: 0.4em;
  padding: 0;
  width: auto;
}
/* line 841, ../sass/style.scss */
footer .copyright p {
  float: right;
  text-align: right;
}

/* line 850, ../sass/style.scss */
.ie6 #blog-title {
  font-size: 40px !important;
}
