@font-face {
  font-family: 'League Gothic';
  src: url("../fonts/League_Gothic-webfont.eot");
  src: url("../fonts/League_Gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/League_Gothic-webfont.woff") format("woff"), url("../fonts/League_Gothic-webfont.ttf") format("truetype"), url("../fonts/League_Gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 32, ../sass/style.scss */
.league, h1, h2, h3, h4, h5, h6 {
  font-family: 'League Gothic', Impact, sans-serif;
  line-height: 1;
  text-transform: uppercase;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-BoldItalic-webfont.eot");
  src: url("../fonts/Lato-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-BoldItalic-webfont.woff") format("woff"), url("../fonts/Lato-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/Lato-BoldItalic-webfont.svg#LatoBoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Bold-webfont.eot");
  src: url("../fonts/Lato-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Bold-webfont.woff") format("woff"), url("../fonts/Lato-Bold-webfont.ttf") format("truetype"), url("../fonts/Lato-Bold-webfont.svg#LatoBold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Italic-webfont.eot");
  src: url("../fonts/Lato-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Italic-webfont.woff") format("woff"), url("../fonts/Lato-Italic-webfont.ttf") format("truetype"), url("../fonts/Lato-Italic-webfont.svg#LatoItalic") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url("../fonts/Lato-Regular-webfont.eot");
  src: url("../fonts/Lato-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lato-Regular-webfont.woff") format("woff"), url("../fonts/Lato-Regular-webfont.ttf") format("truetype"), url("../fonts/Lato-Regular-webfont.svg#LatoRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 80, ../sass/style.scss */
.lato {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
}

/* line 85, ../sass/style.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}

/* line 100, ../sass/style.scss */
.preload *,
#wpadminbar,
#wpadminbar *,
textarea,
.fit {
  -moz-transition-duration: 0s;
  -webkit-transition-duration: 0s;
  -o-transition-duration: 0s;
  transition-duration: 0s;
}

/* line 106, ../sass/style.scss */
a,
a:visited {
  color: #999999;
  text-decoration: none;
}

/* line 112, ../sass/style.scss */
a:hover,
a:active {
  color: #565656;
}

/* line 116, ../sass/style.scss */
h2 {
  font-size: 40px;
}

/* line 116, ../sass/style.scss */
h3 {
  font-size: 34px;
}

/* line 116, ../sass/style.scss */
h4 {
  font-size: 28px;
}

/* line 116, ../sass/style.scss */
h5 {
  font-size: 22px;
}

/* line 116, ../sass/style.scss */
h6 {
  font-size: 16px;
}

/* line 121, ../sass/style.scss */
::selection {
  background: #565656;
  color: #fff;
  text-shadow: none;
}

/* line 122, ../sass/style.scss */
::-moz-selection {
  background: #565656;
  color: #fff;
  text-shadow: none;
}

/* line 124, ../sass/style.scss */
body {
  color: #565656;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

/* line 138, ../sass/style.scss */
pre,
code,
kbd,
samp {
  background: #333;
  color: #ccc;
  overflow-x: auto;
  padding: 20px;
}

/* line 145, ../sass/style.scss */
blockquote {
  border-left: 10px solid #d3e2e2;
  padding-left: 40px;
}

/* line 151, ../sass/style.scss */
.entry-content a:hover,
.entry-content a:active {
  background: #d3e2e2;
}

/* line 155, ../sass/style.scss */
.entry-content a:hover img {
  background: #fff;
}

/* line 160, ../sass/style.scss */
.grey,
.page-template-about-php h2:hover .grey {
  color: #d3e2e2;
}

/* line 165, ../sass/style.scss */
#page {
  margin: 0 auto;
  max-width: 1140px;
  padding: 0 20px;
}

/* line 170, ../sass/style.scss */
.primary {
  float: left;
  margin-right: 3%;
  width: 60%;
}

/* line 175, ../sass/style.scss */
.secondary {
  float: left;
  margin-right: 3%;
  width: 13%;
}

/* line 180, ../sass/style.scss */
.tertiary {
  float: left;
  width: 21%;
}

/* line 186, ../sass/style.scss */
header {
  border-bottom: 10px solid #d1d1d1;
}
/* line 189, ../sass/style.scss */
header h1, header h2, header h3 {
  white-space: nowrap;
}
/* line 194, ../sass/style.scss */
header a,
header a:visited {
  color: #565656;
}
/* line 197, ../sass/style.scss */
header a .grey,
header a:visited .grey {
  color: #d3e2e2;
}
/* line 203, ../sass/style.scss */
header a:active,
header a:hover {
  color: #999999;
}
/* line 206, ../sass/style.scss */
header a:active .grey,
header a:hover .grey {
  color: #eee;
}

/* line 212, ../sass/style.scss */
#blog-title {
  float: left;
  width: 60%;
}
/* line 216, ../sass/style.scss */
#blog-title h1, #blog-title h3 {
  margin: 20px 0 0 0;
}

/* line 221, ../sass/style.scss */
#search {
  float: left;
  margin-top: 32px;
  width: 30%;
}
/* line 226, ../sass/style.scss */
#search input[type="text"] {
  background: url("../images/search.png") no-repeat scroll 2px 2px white;
  border: 1px solid #999999;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  color: #999999;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 0 4px 24px;
  width: 85%;
}
/* line 238, ../sass/style.scss */
#search .searchbutton {
  display: none;
}
/* line 242, ../sass/style.scss */
#search h2 {
  margin: 18px 0 0 0;
}
/* line 246, ../sass/style.scss */
.page-template-templatesabout-php #search h2 {
  margin: 12px 0 0 0;
}

/* line 251, ../sass/style.scss */
#photos {
  float: left;
  margin-top: 32px;
  width: 10%;
}
/* line 256, ../sass/style.scss */
#photos img {
  float: right;
  width: 81%;
}
/* line 261, ../sass/style.scss */
#photos img:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}

/* line 267, ../sass/style.scss */
#main {
  border-bottom: 10px solid #d1d1d1;
  margin: 40px 0 10px;
}
/* line 271, ../sass/style.scss */
#main article {
  margin-bottom: 20px;
}
/* line 274, ../sass/style.scss */
#main article .entry-title {
  font-size: 40px;
}

/* line 285, ../sass/style.scss */
.home .full {
  position: relative;
}
/* line 288, ../sass/style.scss */
.home .full img {
  margin-bottom: 20px;
  width: 100%;
}
/* line 293, ../sass/style.scss */
.home .full .title-date {
  background: #eee;
  background: rgba(255, 255, 255, 0.65);
  display: block;
  left: 0;
  margin: 20px 20px 0 20px;
  padding: 10px 10px 5px;
  position: absolute;
  top: 0;
}
/* line 303, ../sass/style.scss */
.home .full .title-date .entry-title {
  margin: 0;
}
/* line 308, ../sass/style.scss */
.home .full .title-date a,
.home .full .title-date a:visited {
  color: #333;
}
/* line 313, ../sass/style.scss */
.home .full .title-date a:active,
.home .full .title-date a:hover {
  color: #666;
}
/* line 318, ../sass/style.scss */
.home .full .entry-content {
  display: none;
}
/* line 323, ../sass/style.scss */
.home .square img {
  float: left;
  margin-bottom: 20px;
  margin-right: 4.4%;
  width: 47.8%;
}
/* line 333, ../sass/style.scss */
.home .entry-title a,
.home .entry-title a:visited {
  color: #565656;
}
/* line 338, ../sass/style.scss */
.home .entry-title a:active,
.home .entry-title a:hover {
  color: #999999;
}
/* line 343, ../sass/style.scss */
.home .entry-content {
  margin-bottom: 20px;
}

/* line 348, ../sass/style.scss */
.entry-title {
  margin: 0;
}

/* line 352, ../sass/style.scss */
.entry-date {
  font-size: 12px;
  text-transform: uppercase;
}

/* line 357, ../sass/style.scss */
.read-more {
  background: #d3e2e2;
  clear: both;
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding-right: 5%;
  text-align: right;
}
/* line 366, ../sass/style.scss */
.read-more a,
.read-more a:visited {
  color: #999999;
}
/* line 371, ../sass/style.scss */
.read-more a:hover,
.read-more a:active {
  color: #565656;
}

/* line 376, ../sass/style.scss */
.recent-list {
  float: left;
  margin: 0 0 20px;
  padding: 0;
  width: 50%;
}
/* line 382, ../sass/style.scss */
.recent-list abbr {
  border: 0 none;
  background: #d1d1d1;
  color: #fff;
  float: left;
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  padding: 3px 5px;
  text-align: center;
  width: 38px;
}
/* line 394, ../sass/style.scss */
.recent-list li {
  overflow: hidden;
  *zoom: 1;
  list-style-type: none;
  margin-bottom: 10px;
}
/* line 401, ../sass/style.scss */
.recent-list a,
.recent-list a:visited {
  float: left;
  margin-left: -38px;
  padding-left: 44px;
  position: relative;
  top: 5px;
  width: 100%;
}

/* line 415, ../sass/style.scss */
.single .title-date {
  float: left;
  margin: 0 5% 20px 0;
  max-width: 60%;
}
/* line 421, ../sass/style.scss */
.single .post-categories {
  font-family: 'League Gothic', Impact, sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
/* line 425, ../sass/style.scss */
.single .post-categories li {
  margin-bottom: 1em;
  float: right;
  font-size: 24px;
  list-style-type: none;
}
/* line 433, ../sass/style.scss */
.single .post-categories a,
.single .post-categories a:visited {
  background: #d3e2e2;
  margin-left: 10px;
  padding: 5px 7px;
  position: relative;
  top: 8px;
}
/* line 442, ../sass/style.scss */
.single .post-categories a:hover,
.single .post-categories a:active {
  background: #fff;
}
/* line 447, ../sass/style.scss */
.single .entry-content {
  clear: both;
}
/* line 451, ../sass/style.scss */
.single .navigation {
  width: 100%;
}
/* line 455, ../sass/style.scss */
.single .navigation a,
.single .navigation a:visited {
  background: none repeat scroll 0 0 #D3E2E2;
  color: #999999;
  float: left;
  margin: 0 4% 20px 0;
  padding: 10px 15px;
  width: 48%;
}
/* line 465, ../sass/style.scss */
.single .navigation a:hover,
.single .navigation a:active {
  color: #565656;
}
/* line 469, ../sass/style.scss */
.single .navigation a:last-child {
  margin-right: 0;
  text-align: right;
}
/* line 474, ../sass/style.scss */
.single .navigation a:first-child {
  text-align: left;
}

/* line 480, ../sass/style.scss */
.size-full {
  height: auto;
  width: 100%;
}

/* line 485, ../sass/style.scss */
.wp-caption {
  background: #d3e2e2;
  margin-bottom: 20px;
  width: 100% !important;
}
/* line 490, ../sass/style.scss */
.wp-caption img {
  background: #fff;
  width: 100%;
}
/* line 495, ../sass/style.scss */
.wp-caption p {
  background: #d3e2e2;
  margin: 0;
  padding: 20px;
}
/* line 502, ../sass/style.scss */
.wp-caption.alignleft img {
  max-width: 52%;
  float: left;
  padding-right: 4%;
}
/* line 507, ../sass/style.scss */
.wp-caption.alignleft p {
  float: right;
  width: 48%;
}
/* line 514, ../sass/style.scss */
.wp-caption.aligncenter img {
  margin-bottom: 1.6em;
}
/* line 517, ../sass/style.scss */
.wp-caption.aligncenter p {
  width: 100%;
}
/* line 523, ../sass/style.scss */
.wp-caption.alignright img {
  max-width: 52%;
  float: right;
  padding-left: 4%;
}
/* line 528, ../sass/style.scss */
.wp-caption.alignright p {
  float: left;
  width: 48%;
}

/* line 537, ../sass/style.scss */
.sidebar {
  list-style-type: none;
  margin-bottom: 20px;
}
/* line 541, ../sass/style.scss */
.sidebar h3 {
  color: #d3e2e2;
  margin: 0 0 20px 0;
}
/* line 546, ../sass/style.scss */
.sidebar ul {
  margin: 0 0 20px 0;
  padding: 0;
}
/* line 550, ../sass/style.scss */
.sidebar ul li {
  list-style-type: none;
}
/* line 556, ../sass/style.scss */
.sidebar.categories li {
  margin-bottom: 10px;
  text-align: center;
}
/* line 562, ../sass/style.scss */
.sidebar.categories a,
.sidebar.categories a:visited {
  background: #d1d1d1;
  color: #565656;
  display: block;
  padding: 4px 0 0 0;
  width: 100%;
}
/* line 571, ../sass/style.scss */
.sidebar.categories a:hover,
.sidebar.categories a:active {
  color: #999999;
}
/* line 577, ../sass/style.scss */
.sidebar.projects h4 {
  display: block;
  background: #565656;
  margin: 0;
  padding: 5px 10px;
}
/* line 587, ../sass/style.scss */
.sidebar.projects a,
.sidebar.projects a:visited,
.sidebar.projects a:active,
.sidebar.projects a:hover {
  color: #fff;
}
/* line 591, ../sass/style.scss */
.sidebar.projects img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  width: 100%;
}
/* line 597, ../sass/style.scss */
.sidebar.projects a:hover img,
.sidebar.projects a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 601, ../sass/style.scss */
.sidebar.projects p {
  font-size: 13px;
}
/* line 607, ../sass/style.scss */
.sidebar.recent li {
  margin-bottom: 5px;
}
/* line 612, ../sass/style.scss */
.sidebar.recent a,
.sidebar.recent a:visited {
  display: block;
  line-height: 1.2;
}
/* line 618, ../sass/style.scss */
.sidebar.recent a:hover,
.sidebar.recent a:active {
  background: #d3e2e2;
}

/* line 625, ../sass/style.scss */
#categories-sidebar-mobile ul li {
  background: #d1d1d1;
  text-align: center;
  max-width: 50%;
  margin-bottom: 0.8em;
}
/* line 633, ../sass/style.scss */
#categories-sidebar-mobile a:link,
#categories-sidebar-mobile a:visited {
  color: #565656;
  text-decoration: none;
  font-size: 1.7em;
}

/* --------- Category pages -------------- */
/* line 643, ../sass/style.scss */
.category-archive {
  margin-bottom: 20px;
}

/* line 647, ../sass/style.scss */
.archive-result {
  background: #d3e2e2;
  padding: 0.05em 0.2em 0.02em;
  color: #999999;
}

/* line 653, ../sass/style.scss */
.wp-pagenavi {
  font-size: 2em;
}
/* line 656, ../sass/style.scss */
.wp-pagenavi .current {
  background: #d3e2e2;
  padding: 0.2em;
  margin-right: 0.3em;
}
/* line 665, ../sass/style.scss */
.wp-pagenavi .page,
.wp-pagenavi .first,
.wp-pagenavi .pages,
.wp-pagenavi .extend {
  margin-right: 0.4em;
}

/* --------- 404 --------- */
/* line 673, ../sass/style.scss */
.error404 .entry-content .searchform {
  display: inline;
}

/* line 678, ../sass/style.scss */
.error404 .entry-content .searchinput {
  width: 50%;
  margin: 0;
}

/* ---------- Instagram page ---------- */
/* line 685, ../sass/style.scss */
.instagram {
  clear: both;
}

/* line 691, ../sass/style.scss */
span.box-small,
span.box-medium,
span.box-large {
  background: #d3e2e2;
  display: inline-block;
  cursor: pointer;
}

/* line 699, ../sass/style.scss */
span.box-small:hover,
span.box-medium:hover,
span.box-large:hover {
  background: #eee;
}

/* line 703, ../sass/style.scss */
button#instagram {
  background: #d3e2e2;
  color: #999999;
  padding: 0.05em 0.2em 0.02em;
  font-size: 2em;
  border: 0 none;
  cursor: pointer;
  clear: both;
}

/* line 713, ../sass/style.scss */
button#instagram:hover {
  color: #565656;
}

/* line 717, ../sass/style.scss */
.box-small {
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

/* line 723, ../sass/style.scss */
.box-medium {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

/* line 729, ../sass/style.scss */
.box-large {
  height: 35px;
  width: 35px;
}

/* line 734, ../sass/style.scss */
.small-activated .instagram-placeholder {
  width: 31% !important;
  float: left;
  margin-right: 3%;
  margin-bottom: 1.2em;
}

/* line 741, ../sass/style.scss */
.small-activated .instagram-placeholder:nth-child(3n+3) {
  margin-right: 0;
}

/* line 745, ../sass/style.scss */
.small-activated p.wp-caption-text {
  display: none !important;
}

/* line 750, ../sass/style.scss */
.small-activated .instagram-placeholder img,
.large-activated .instagram-placeholder img {
  max-width: 100% !important;
}

/* line 754, ../sass/style.scss */
.large-activated .instagram-placeholder img {
  border-bottom: 8px solid #fff;
  width: 100%;
  padding-right: 0 !important;
}

/* line 760, ../sass/style.scss */
.large-activated .instagram-placeholder {
  width: 100%;
  margin-bottom: 2em;
}

/* line 765, ../sass/style.scss */
.large-activated p.wp-caption-text {
  font-size: 1.2em;
  width: 92%;
  margin: 1em 4%;
  padding: 0;
}

/* ---------- Footer ------------- */
/* line 774, ../sass/style.scss */
footer.row {
  margin-bottom: 2em;
}

/* line 779, ../sass/style.scss */
.credits a:hover,
.credits a:active {
  background: #d3e2e2;
}

/* line 783, ../sass/style.scss */
.social {
  float: right;
  margin-right: 0.8em;
}
/* line 787, ../sass/style.scss */
.social a {
  float: left;
}
/* line 791, ../sass/style.scss */
.social img {
  float: left;
  margin-right: 0.4em;
  padding: 0;
  width: auto;
}

/* line 800, ../sass/style.scss */
.social a:link img,
.social a:visited img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  background: #fff;
}

/* line 806, ../sass/style.scss */
.social a:hover img,
.social a:active img {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 810, ../sass/style.scss */
.copyright p {
  text-align: right;
  float: right;
}

/* line 817, ../sass/style.scss */
.ie6 #blog-title {
  font-size: 40px !important;
}
