// Full-width layout with two columns

.primary {
	margin-right: 0;
	width: 100%;
}

.input, .output {
	float: left;
	margin-bottom: 40px;
	width: 50%;
}

.input {
	padding-right: 2%;
}

.output {
	padding-left: 2%;
}

// General styles

article {

	h3 {
		margin: 0.3em 0;
	}

	input,
	textarea {
		color: #565656;
		padding: 5px;
		width: 100%;
	}

	textarea.code {
		font-size: 14px;
		height: 70px;
	}
}