// Imports
@import 'compass/css3';
@import 'compass/utilities';

// Mixins
@mixin tight {
	margin: 0;
	padding: 0;
}

// Colors
$grey: #565656;
$med-grey: #999;
$lt-grey: #D1D1D1;
$turquoise: #D3E2E2;

// Fonts
@font-face {
    font-family: 'League Gothic';
    src: url('../fonts/League_Gothic-webfont.eot');
    src: url('../fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/League_Gothic-webfont.woff') format('woff'),
         url('../fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('../fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin league {
	font-family: 'League Gothic', Impact, sans-serif;
	text-transform: uppercase;
}
.league, h1, h2, h3, h4, h5, h6 {
	font-family: 'League Gothic', Impact, sans-serif;
	line-height: 1;
	text-transform: uppercase;	
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-BoldItalic-webfont.eot');
    src: url('../fonts/Lato-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/Lato-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/Lato-BoldItalic-webfont.svg#LatoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Bold-webfont.eot');
    src: url('../fonts/Lato-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Bold-webfont.woff') format('woff'),
         url('../fonts/Lato-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Bold-webfont.svg#LatoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Italic-webfont.eot');
    src: url('../fonts/Lato-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Italic-webfont.woff') format('woff'),
         url('../fonts/Lato-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Italic-webfont.svg#LatoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular-webfont.eot');
    src: url('../fonts/Lato-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Lato-Regular-webfont.woff') format('woff'),
         url('../fonts/Lato-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Lato-Regular-webfont.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@mixin lato {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}
.lato {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-facebook:before, .icon-twitter:before, .icon-google-plus:before, .icon-github:before, .icon-linkedin:before, .icon-lastfm:before, .icon-mail:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-facebook:before {
	content: "\e000";
}
.icon-twitter:before {
	content: "\e001";
}
.icon-google-plus:before {
	content: "\e002";
}
.icon-github:before {
	content: "\e003";
}
.icon-linkedin:before {
	content: "\e004";
}
.icon-lastfm:before {
	content: "\e005";
}
.icon-mail:before {
	content: "\e006";
}

// General styles
* {
	@include box-sizing(border-box);
	@include transition-duration(0.2s);
	@include transition-timing-function(ease-in-out);
}
@mixin no-transition {
	@include transition-duration(0s);
}

	// ----- No transition on these elements

		.preload *,
		#wpadminbar,
		#wpadminbar *,
		textarea,
		.fit {
			@include no-transition;
		}

	// -------------------------------------
a,
a:visited {
	color: $med-grey;
	text-decoration: none;
	img {
		@include opacity(0.9);
	}
}

a:hover,
a:active {
	color: $grey;
	img {
		@include opacity(1);
	}
}
@for $i from 2 through 6 {
	h#{$i} { 
		font-size: 52px - 6*$i; 
	}
}

::selection { background: $grey; color:#fff; text-shadow: none; }
::-moz-selection { background: $grey; color:#fff; text-shadow: none; }

body {
	color: $grey;
	@include lato;
	-ms-word-break: hyphenate;
    word-break: hyphenate;
    word-break: hyphenate;
-webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
}

pre, 
code, 
kbd, 
samp { 
	background: #333; 
	color: #ccc; 
	overflow-x: auto; 
	padding: 20px;  
}

blockquote {
	border-left: 10px solid $turquoise;
	padding-left: 40px;
}

.entry-content a:hover,
.entry-content a:active {
	background: $turquoise;
}

.entry-content a:hover img {
	background:#fff;
}

.grey,
.page-template-about-php h2:hover .grey {
	color: $turquoise;
}

// ----- STRUCTURE
#page {
	margin: 0 auto;
	max-width: 1140px;
	padding: 0 20px;
	.oldie & {
		width: 800px;
	}
}
.primary {
	float: left;
	margin-right: 3%;
	width: 60%;
}
.secondary {
	float: left;
	margin-right: 3%;
	width: 13%;
}
.tertiary {
	float: left;
	width: 21%;
}

// ----- HEADER
header {
	border-bottom: 10px solid $lt-grey;

	h1, h2, h3 {
		white-space: nowrap;
	}

	a,
	a:visited {
		color: $grey;

		.grey {
			color: $turquoise;
		}
	}

	a:active,
	a:hover {
		color: $med-grey;

		.grey {
			color: #eee;
		}
	}
}

#blog-title {
	float: left;
	width: 60%;

	h1, h3 {
		margin: 20px 0 0 0;
	}
}

#search {
	float: left;
	margin-top: 32px;
	text-align: right;
	width: 30%;

	input[type="text"] {
	    background: url("../images/search.png") no-repeat scroll 2px 2px #fff;
	    border: 1px solid $med-grey;
	    @include border-radius(2px);
	    color: $med-grey;
	    @include lato;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 4px 0 4px 24px;
	    width: 85%;
	}

	.searchbutton {
		display: none;
	}

	h2 {
		margin: 18px 0 0 0;

		@media screen and (max-width: 1100px) {
			margin-top: 15px;
		}
		@media screen and (max-width: 1000px) {
			margin-top: 12px;
		}
		@media screen and (max-width: 900px) {
			margin-top: 9px;
		}
		@media screen and (max-width: 800px) {
			margin-top: 4px;
		}	

		.oldie & {
			margin-top: 4px;
		}	
	}

	.page-template-templatesabout-php & h2 {
		margin: 12px 0 0 0;

		@media screen and (max-width: 1100px) {
			margin-top: 10px;
		}
		@media screen and (max-width: 1000px) {
			margin-top: 8px;
		}
		@media screen and (max-width: 900px) {
			margin-top: 5px;
		}
		@media screen and (max-width: 800px) {
			margin-top: 2px;
		}		

		.oldie & {
			margin-top: 2px;
		}	
	}
}

#photos {
	float: left;
	margin-top: 32px;
	width: 10%;

	img {
		float: right;
		width: 81%;
	}

	img:hover {
		@include opacity(0.5);
	}
}

// ------- MAIN (general)
#main {
	border-bottom: 10px solid $lt-grey;	
	margin: 40px 0 10px;

	article {
		margin-bottom: 20px;

		.entry-title {
			font-size: 40px;
		}

	}
}

// ------- HOME
	
.full {
	position: relative;

	img {
		margin-bottom: 20px;
		width: 100%;
	}

	.title-date {
		background: #eee;
	    background: rgba(255, 255, 255, 0.65);
	    display: block;
	    left: 0;
	    margin: 20px 20px 0 20px;
	    padding: 10px 10px 5px;
	    position: absolute;
	    top: 0;

	    .entry-title {
	    	margin: 0;
	    }

	    a,
		a:visited {
			color: #333;
		}

		a:active,
		a:hover {
			color: #666;
		}
	}

	.entry-content {
		display: none;
	}
}

.square img {
	float: left;
    margin-bottom: 20px;
    margin-right: 4.4%;
    width: 47.8%;
}

.entry-title {

	a,
	a:visited {
		color: $grey;
	}

	a:active,
	a:hover {
		color: $med-grey;
	}
}

.entry-content {
	margin-bottom: 20px;
}

.entry-title {
	margin: 0;
}

.entry-date {
    font-size: 12px;
    text-transform: uppercase;
}

.read-more {
	background: $turquoise;
	clear: both;
	@include league;
	font-size: 20px;
	padding-right: 5%;
	text-align: right;

	a,
	a:visited {
		color: $med-grey;
	}

	a:hover,
	a:active {
		color: $grey;
	}
}

.recent-list {
	float: left;
	margin: 0 0 20px;
	padding: 0;
	width: 50%;

	abbr {
		border: 0 none;
	    background: $lt-grey;
	    color: #fff;
	    float: left;
		@include league;
		font-size: 20px;
	    padding: 3px 5px;
	    text-align: center;
	    width: 38px;
	}

	li {
		list-style-type: none;
		height: 60px;
		@media screen and (max-width: 600px) {
			height: 80px;
		}
	}

	a,
	a:visited {
		float: left;
		margin-left: -38px;
		padding: 0 10px 0 44px;
		position: relative;
		top: 5px;
		width: 100%;
	}
}
	
// -------- Single post 

.single {
	
	.title-date {
		float: left;
		margin: 0 5% 20px 0;
		max-width: 60%;
	}

	.post-categories {
		@include league;
		@include tight;

		li {
			margin-bottom: 14px;
			float: right;
			font-size: 24px;
			list-style-type: none;
		}

		a,
		a:visited {
			background: $turquoise;
			margin-left: 10px;
			padding: 5px 7px;
			position: relative;
			top: 8px;
		}

		a:hover,
		a:active {
			background: #fff;
		}
	}

	.entry-content {
		clear: both;
	}

	.navigation {
		background: $turquoise;
		margin-bottom: 20px;
		width: 100%;

		a,
		a:visited {
			background: none repeat scroll 0 0 #D3E2E2;
		    color: $med-grey;
		    width: 50%;
		}

		a:hover,
		a:active {
			color: $grey;
		}

		.prev, .next {
			float: left;
			padding: 10px 15px;
			width: 50%;

			.oldie & {
				min-height: 60px;
			}
		}

		.next {
			border-left: 10px solid #fff;
			text-align: right;
			.arrow, .link {
				float: right;
			}
		}

		.prev {
			border-right: 10px solid #fff;
		}

		.arrow {
			float: left;
			width: 15%;
			@media screen and (max-width: 540px) {
				font-size: 13px;
				width: 20%;
			}
		}

		.link {
			float: left;
			width: 85%;

			@media screen and (max-width: 540px) {
				font-size: 13px;
				width: 80%;
			}
		}
	}
}

.size-full {
	height: auto;
	width: 100%;
}

.wp-caption {
	background: $turquoise;
	margin-bottom: 20px;
	width: 100% !important;

	a {
		img {
			@include opacity(0.9);
		}

		&:hover img {
			@include opacity(1);
		}
	}

	img {
		background: #fff;
		height: auto !important;
		width: 100%;
	}

	p {
		background: $turquoise;
		margin: 0;
		padding: 20px;		
	}

	&.alignleft {
		img {
			max-width: 52%;
			float: left;
			padding-right: 4%;
		}
		p {
		    float: right;
		    width: 48%;
		    .oldie & {
		    	width: 44%;
		    }
		}
	}

	&.aligncenter {
		img {
			margin-bottom: 1.6em;
		}
		p {
			width: 100%;
		}
	}

	&.alignright {
		img {
			max-width: 52%;
			float: right;
			padding-left: 4%;
		}
		p {
			float: left;
			width: 48%;
			.oldie & {
				width: 44%;
			}
		}
	}
}
	
// ------ Sidebars

.sidebar {
	list-style-type: none;
	margin-bottom: 20px;

	h3 {
		color: $turquoise;
		margin: 0 0 20px 0;
	}

	ul {
		margin: 0 0 20px 0;
		padding: 0;

		li {
			list-style-type: none;
		}
	}

	&.categories {
		li {
			margin-bottom: 10px;
			text-align:center;
		}

		a,
		a:visited {
			background: $lt-grey;
			color: $grey;
			display: block;
			padding: 4px 0 0 0;
			width: 100%;
		}

		a:hover,
		a:active {
			color: $med-grey;
		}
	}

	&.projects {
		h4 {
			display: block;
			background: $grey;
			margin: 0;
			padding: 5px 10px;

			.oldie & {
				font-size: 20px;
			}
		}

		a,
		a:visited,
		a:active,
		a:hover {
			color: #fff;
		}

		img {
			@include opacity(0.8);
			width:100%;
		}

		a:hover img,
		a:active img {
			@include opacity(1);
		}

		p {
			font-size: 13px;
		}
	}

	&.recent {
		li {
			margin-bottom: 5px;
		}

		a,
		a:visited {
			display: block;
		}

		a:hover,
		a:active {
			background: $turquoise;
		}
	}
}

// -------- Category and other archives

.archive,
.search {
	.primary h2:first-child {
		margin-top: 0;
	}
}

.result {
	background: $turquoise;
	color: $med-grey;	
	display: inline-block;
	padding: 5px;
}

.wp-pagenavi {
	font-size: 30px;

	.current {
		background: $turquoise;
		padding: 5px;
		margin-right: 8px;
	}

	.page,
	.first,
	.pages,
	.extend {
		margin-right: 8px;
	}
}

#pagination {
	margin-bottom: 20px;
}

/* --------- 404 --------- */

.error404 {

	.entry-content .searchform {
		display: inline;
	}

	.entry-content input[type="text"] {
	    background: url("../images/search.png") no-repeat scroll 2px 2px #fff;
	    border: 1px solid $med-grey;
	    @include border-radius(2px);
	    color: $med-grey;
	    @include lato;
	    font-size: 14px;
	    font-weight: bold;
	    padding: 4px 0 4px 24px;
	    width: 50%;
	}

	.entry-content .searchbutton {
		display: none;
	}
}

/* ---------- Instagram page ---------- */

.page-template-templates-instagram-php {
	.entry-content {
		clear: both;
		margin-top: 20px;
	}

	.instagram {
		clear: both;
	}
}

.box {
	background: $turquoise;
	cursor: pointer;	
	display: inline-block;
	margin-right: 10px;

	&:hover {
		background: #eee;
	}

	&:last-child {
		margin-right: 0;
	}

	&.small {
		height: 15px;
		width: 15px;
	}

	&.medium {
		height: 20px;
		width: 20px;
	}

	&.large {
		height: 35px;
		width: 35px;
	}
}

#instagram,
button,
input[type="submit"] {
	background: $turquoise;
	border: 0 none;
	color: $med-grey;	
	clear: both;	
	cursor: pointer;
	padding: 6px;
	@include league;
	font-size: 30px;

	&:hover {
		color: $grey;
	}

	.oldie & {
		display: none;
	}
}

.small-activated {
	.instagram-placeholder {
		float: left;
		margin: 0 2% 2% 0;
		width: 32% !important;	

		img {
			max-width: 100% !important;
			padding: 0;
		}	

		&:nth-child(3n+3) {
			margin-right: 0;
		}
	}
	p.wp-caption-text {
		display:none !important;
	}
}

.large-activated {
	.instagram-placeholder {
		margin-bottom: 20px;
		width: 100%;
	}

	.primary {
		img {
			border-bottom: 8px solid #fff;
			padding-right: 0 !important;
			max-width: 100% !important;
			width: 100%;
		}
	}

	p.wp-caption-text {
		display: block;
		font-size: 18px;
		margin: 0;
		padding: 10px;
		text-align: left;
		width: 100%;
	}
}

/* ---------- Footer ------------- */

footer {
	margin-bottom: 30px;

	.credits {
		float: left;
		width: 50%;

		a:active,
		a:hover {
			background: $turquoise;
		}
	}

	.copyright {
		float: left;
		width: 50%;

		.social {
			float: right;
			margin-top: 16px;

			a {
				background: $med-grey;
				color: #fff;
				float: left;
				font-size: 18px;
				height: 22px;
				margin-left: 6px;
				text-align: center;
				width: 22px;

				&:active,
				&:hover {
					background: $grey;
				}
			}
		}

		p {
			float: right;		
			margin-left: 12px;	
			text-align: right;
		}
	}
}

// ------ IE 6

.ie6 #blog-title {
	font-size:40px !important;
}