@import "compass";
@import "vars";

// Full-width layout with two columns

.primary {
	margin-right: 0;
	width: 100%;
}

.input, .output {
	margin-bottom: 40px;
	width: 50%;
}

.input {
	float: left;
	padding-right: 20px;
	position: relative;

	textarea {
		height: 240px;
	}
}

.expand {
	background: $turquoise;
	color: $med-grey;
	cursor: pointer;
	font-size: 28px;
	font-weight: bold;
	height: 40px;
	@include opacity(0);
	position: absolute;
	right: 21px;
	text-align: center;
	top: 1px;
	width: 40px;

	&:hover {
		color: $grey;
	}

	&.shown {
		@include opacity(1);
	}
}

.output {
	float: right;
	padding-left: 20px;

	textarea {
		height: 100px;
	}
}

// General styles

article {

	h3 {
		margin: 0.3em 0;
	}

	input,
	textarea {
		color: #565656;
		padding: 5px;
		width: 100%;
	}

	textarea.code {
		font-size: 14px;
		height: 70px;
	}

}

#error {
	clear: both;
	margin-bottom: 20px;
}

.overlay {
	background-color: transparentize($grey, 0.5);
	height: 100%;
	left: 0;
	@include opacity(0);
	position: fixed;
	top: 0;
	width: 100%;
}

.check-input {
	background: #fff;
	@include box-shadow(0 0 10px $grey);
	left: 5%;
	padding: 40px 40px 40px 100px;
	position: absolute;
	top: 40px;
	width: 90%;
}

.indicator {
	position: absolute;
	left: 40px;
}